.style-icon {
  font-size: 15px;
}
.style-icon-menu {
  font-size: 15px;
  margin-right: 10px;
}
@media screen and (min-width: 768px) {
  .style-icon {
    font-size: 22px;
  }
  .style-icon-menu {
    font-size: 22px;
  }
}

.nav-link {
  text-decoration: none;
  border: none;
}
